@media only screen and (max-width: 480px) {
  .c-product {
    flex-direction: column;
    max-width: 90%;
    &__image {
      max-width: 100%;
      border-radius: 1rem 1rem 0 0;
    }
    &__description {
      min-height: 35rem;
      border-radius: 0 0 1rem 1rem;
    }
    &__label {
      font-size: 1.4rem;
    }
    &__name {
      font-size: 2.8rem;
    }
    &__text {
      font-size: 1.3rem;
    }
    &__current-price {
      font-size: 2.4rem;
    }
  }
  .c-button {
    &__icon {
      width: 1.4rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}
